### Security (CRITICAL) ###
.env
# Ignore any other secrets files
secrets.properties

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code (Just in case) ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db